apiVersion: v1
kind: Pod
metadata:
  name: nginx-test-pod
  namespace: limitrange-lab
  labels:
    app: nginx-test
spec:
  containers:
  - name: nginx
    image: nginx:latest
    ports:
    - containerPort: 80
  restartPolicy: Always